

/* ================= SIDEBAR ================= */

.sidebar{

    -fx-background-color:white;

}

.sidebar-scroll{

    -fx-background:white;

    -fx-border-color:#dddddd;

    -fx-border-width:0 1 0 0;

}

.sidebar-scroll > .viewport{

    -fx-background-color:white;

}

.section-title{

    -fx-font-size:16px;

    -fx-font-weight:bold;

}

/* ================= CATEGORY ================= */

.category-button{

    -fx-background-color:transparent;

    -fx-alignment:CENTER_LEFT;

    -fx-padding:10 12;

    -fx-font-size:14px;

    -fx-background-radius:8;

    -fx-cursor:hand;

}

.category-button:hover{

    -fx-background-color:#dce8f5;

}



/* ================= CENTER ================= */

.content-scroll{

    -fx-background:white;

    -fx-border-width:0;

}

.content-scroll > .viewport{

    -fx-background-color:#f7f8fa;

}

/*==========================
        Category
==========================*/

.category-button{

    -fx-background-color:white;

    -fx-background-radius:10;

    -fx-border-radius:10;

    -fx-border-color:#dcdde1;

    -fx-font-size:15px;

    -fx-font-weight:bold;

    -fx-alignment:CENTER_RIGHT;

    -fx-cursor:hand;

    -fx-wrap-text: true;
    -fx-pref-width: 280;

}

.category-button:hover{

    -fx-background-color:#eef5ff;

}

.subcategory-button{

    -fx-background-color:transparent;

    -fx-alignment:CENTER_RIGHT;

    -fx-font-size:14px;

    -fx-padding:8 20 8 20;

    -fx-cursor:hand;

}

.subcategory-button:hover{

    -fx-background-color:#f5f6fa;

}

.subcategory-button{

    -fx-background-color: transparent;
    -fx-alignment: CENTER_RIGHT;
    -fx-font-size: 14px;
    -fx-padding: 8 20 8 20;
    -fx-cursor: hand;

    -fx-wrap-text: true;
    -fx-pref-width: 260;

}

.subcategory-button-selected{

    -fx-background-color:#dce8f5;

    -fx-font-weight:bold;

}